<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>p2p_home</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.itheima.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>checkImageServlet</servlet-name>
    <servlet-class>com.itheima.utils.CheckImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkImageServlet</servlet-name>
    <url-pattern>/imageCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAccountServlet</display-name>
    <servlet-name>ProductAccountServlet</servlet-name>
    <servlet-class>com.itheima.web.servlet.ProductAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAccountServlet</servlet-name>
    <url-pattern>/productAccount</url-pattern>
  </servlet-mapping>
</web-app>