<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>123</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo2</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>*.abc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo4</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo4</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>abc</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo4</servlet-name>
    <url-pattern>/ServletDemo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo5</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo5</servlet-name>
    <url-pattern>/ServletDemo5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo6</display-name>
    <servlet-name>ServletDemo6</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo6</servlet-name>
    <url-pattern>/ServletDemo6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo7</display-name>
    <servlet-name>ServletDemo7</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo7</servlet-name>
    <url-pattern>/ServletDemo7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo8</display-name>
    <servlet-name>ServletDemo8</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo8</servlet-name>
    <url-pattern>/ServletDemo8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo1</display-name>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>com.itheima.response.demo1.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo2</display-name>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>com.itheima.response.demo1.ResponseDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo3</display-name>
    <servlet-name>ResponseDemo3</servlet-name>
    <servlet-class>com.itheima.response.demo1.ResponseDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo3</servlet-name>
    <url-pattern>/ResponseDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo1</display-name>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>com.itheima.request.demo1.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo2</display-name>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>com.itheima.request.demo1.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo3</display-name>
    <servlet-name>RequestDemo3</servlet-name>
    <servlet-class>com.itheima.request.demo1.RequestDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo3</servlet-name>
    <url-pattern>/RequestDemo3</url-pattern>
  </servlet-mapping>
</web-app>